<div class="row">
  <div class="col-md-12 text-center">
    <h1>Welcome to the Task Manager <br /><small>An online to-do list for those without need of functionality</small></h1>
  </div>
</div>

<div class="row">
  <div class="col-md-6 text-right">
    <a href="/tasks"><button type="button" class="btn btn-primary btn-lg">Task Index</button></a>
  </div>
  <div class="col-md-6 text-left">
    <a href="/tasks/new"><button type="button" class="btn btn-primary btn-lg">New Task</button></a>
  </div>
</div>
