<div class="jumbotron text-center middle">
  <h1>Welcome to the Task Manager</h1>
  <p>An online to-do list for those without need of functionality</p>
  <br />
  <p><a href="/tasks/new"><button type="button" class="btn btn-primary btn-lg">New Task</button></a></p>
  <% unless @tasks.empty? %>
    <p><a href="/tasks"><button type="button" class="btn btn-default btn-lg">Task Index</button></a></p>
  <% end %>
</div>
