<div class="row">
  <div class="col-md-12 text-left">
    <h1>All Tasks</h1>
  </div>
</div>

<div class="row">
  <table class="table table-bordered table-hover">
    <thead>
      <th class="col-md-1">#</th>
      <th>Task Title</th>
    </thead>
    <tbody>
      <% @tasks.each do |task| %>
        <tr>
          <td>
            <%= task.id %>
          </td>
          <td>
            <a href="/tasks/<%= task.id%>"><%= task.title %></a>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<div class="col-md-12 text-right">
  <a href="/tasks/new"><button type="button" class="btn btn-primary">New Task</button></a>
</div>
