<div class="col-md-12 text-center">
  <h1>Enter a new task</h1>
</div>

<form action="/tasks" method="post">
  <div class="form-group">
    <label for="task">Task</label>
    <input type="text" name="task[title]" class="form-control" placeholder="Task name" required="required" />
  </div>
  <div class="form-group">
    <label for="description">Description</label>
    <textarea name="task[description]" class="form-control" placeholder="Task description" required="required" ></textarea>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
  <a href="/tasks"><button type="button" class="btn btn-default">Cancel</button></a>
</form>
