<div class="col-md-12 text-left">
  <h1><%= @task.title %> <br /> <small> <%= @task.description %> </h1>
</div>

<div class="col-md-12 text-right">
  <a href="/tasks/<%= @task.id %>/edit"><button type="button" class="btn btn-primary">Edit Task</button></a>
  <a href="/tasks"><button type="button" class="btn btn-default">Task Index</button></a>
</div>
